* {
    margin: 0;
    padding: 0;
}
main {
    background-color: aqua !important;
}
nav {
 display: flex;
 background-color: blue;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 25px;
    list-style: none;
    
}


nav ul li a {
    text-decoration: none;
    color: White;
}

footer {
    background-color: blueviolet;
}